body {
  background-color: rgba(0, 124, 216, 0.46);
}

html, body, #container {
  min-height: 100%;
}

input:required:invalid  {
  background-color: rgb(242, 222, 222);
}

input:required:valid  {
  background-color: rgba(87, 181, 58, 0.22);
}

#shortener {
  text-align: center; /* get inner shortener to center */
}

#inner-shortener {
  padding: 10px;
  display: inline-block;
  margin: auto;
  text-align: start;
  min-width: 880px;
  width: 85%;
}

.panel {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

#container {
  padding-top: 4em;
  padding-bottom: 3em;
}

#header {
  clear: both;
  position: relative;
  z-index: 10;
  margin-bottom: -3.5em;
  height: 3.5em;
  background-color: #333;
  padding-bottom: 1em;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  padding: 0.5em;
  background-color: #333;
  color: #DDD;
  text-align: center;
}

#header h1 {
  color: #DDD;
  padding: 10px 2px 2px 40px;
  margin-top: 0px;
  font-size: 24px;
}

.panel-heading {
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
}

/* List Section */
td {
  border-right: 1px #777;
  overflow: hidden;
}

.short-item button {
  padding: 0 3px 0 3px;
}
.short-item a {
  height: 27px;
}

.slug {
  max-width: 150px;
}
.long-url {
  max-width: 250px;
}
.owner {
  max-width: 150px;
}
.delete {
  width: 10px;
}

/* insert section */
input {
 display: block;
 float: left;
}
button {
  margin-left: 10px;
}

.add-url {
  margin: -5px 0 10px 10px;
}

.add-item {
  margin-left: 5px;
  margin-right: 5px;
}
.slug-to-add {
  width: 150px;
  margin-left: 0px;
}
.long-url-to-add {
  min-width: 200px;
  max-width: 300px;
}
.owner-to-add {
  min-width: 50px;
  max-width: 150px;
}

.pre-text {
 display: block;
 float: left;
 padding: 9px 3px 0 3px;
}
